. filter=lfs diff=lfs merge=lfs -text
map filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
yolov3_tf2 filter=lfs diff=lfs merge=lfs -text
mav.tlog filter=lfs diff=lfs merge=lfs -text
yolo_data filter=lfs diff=lfs merge=lfs -text
map.html filter=lfs diff=lfs merge=lfs -text
mav.parm filter=lfs diff=lfs merge=lfs -text
mav.tlog.raw filter=lfs diff=lfs merge=lfs -text
trt_ssdlite filter=lfs diff=lfs merge=lfs -text
trt_trial filter=lfs diff=lfs merge=lfs -text
trt_ssdlite/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
trt_trial/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
utils/__pycache__ filter=lfs diff=lfs merge=lfs -text
yolo_data/checkpoint filter=lfs diff=lfs merge=lfs -text
yolo_data/coco.names filter=lfs diff=lfs merge=lfs -text
yolo_data/voc2012.names filter=lfs diff=lfs merge=lfs -text
yolo_data/yolov3-tiny.weights filter=lfs diff=lfs merge=lfs -text
yolo_data/yolov3.weights filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/__pycache__ filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.data-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.data-00001-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.index filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.data-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.data-00001-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.index filter=lfs diff=lfs merge=lfs -text
checkpoints/checkpoint filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v2_oid_v4_2018_12_12 filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
protos filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_2017_11_17 filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_11_06_2017 filter=lfs diff=lfs merge=lfs -text
core filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
ssdlite_mobilenet_v2_coco_2018_05_09 filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03 filter=lfs diff=lfs merge=lfs -text
data/kitti_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_bbox_trainable_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_object_detection_challenge_500_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/pascal_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/pet_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/ava_label_map_v2.1.pbtxt filter=lfs diff=lfs merge=lfs -text
data/face_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/fgvc_2854_classes_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_v4_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_complete_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_minival_ids.txt filter=lfs diff=lfs merge=lfs -text
protos/multiscale_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/graph_rewriter.proto filter=lfs diff=lfs merge=lfs -text
protos/matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/input_reader.proto filter=lfs diff=lfs merge=lfs -text
protos/string_int_label_map.proto filter=lfs diff=lfs merge=lfs -text
protos/box_predictor.proto filter=lfs diff=lfs merge=lfs -text
protos/calibration.proto filter=lfs diff=lfs merge=lfs -text
protos/optimizer.proto filter=lfs diff=lfs merge=lfs -text
protos/train.proto filter=lfs diff=lfs merge=lfs -text
protos/losses.proto filter=lfs diff=lfs merge=lfs -text
protos/__pycache__ filter=lfs diff=lfs merge=lfs -text
protos/preprocessor.proto filter=lfs diff=lfs merge=lfs -text
protos/post_processing.proto filter=lfs diff=lfs merge=lfs -text
protos/region_similarity_calculator.proto filter=lfs diff=lfs merge=lfs -text
protos/square_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn.proto filter=lfs diff=lfs merge=lfs -text
protos/mean_stddev_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/model.proto filter=lfs diff=lfs merge=lfs -text
protos/pipeline.proto filter=lfs diff=lfs merge=lfs -text
protos/keypoint_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/argmax_matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/eval.proto filter=lfs diff=lfs merge=lfs -text
protos/bipartite_matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/hyperparams.proto filter=lfs diff=lfs merge=lfs -text
protos/image_resizer.proto filter=lfs diff=lfs merge=lfs -text
protos/anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/grid_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/flexible_grid_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/ssd_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/ssd.proto filter=lfs diff=lfs merge=lfs -text
__pycache__/detection_functions.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/gazebo_camera.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/mavsdk_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/path_planning.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/sitl_mavsdk_mission.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/cv_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/myutils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/path_planning_pruned.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/planning_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
ssdlite_mobilenet_v2_coco_2018_05_09/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_11_06_2017/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_2017_11_17/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v2_oid_v4_2018_12_12/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
