. filter=lfs diff=lfs merge=lfs -text
map filter=lfs diff=lfs merge=lfs -text
mavsdk_utils.py filter=lfs diff=lfs merge=lfs -text
planning_utils.py filter=lfs diff=lfs merge=lfs -text
playground.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
cv_utils.py filter=lfs diff=lfs merge=lfs -text
main.py filter=lfs diff=lfs merge=lfs -text
path_planning.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2 filter=lfs diff=lfs merge=lfs -text
gazebo_camera.py filter=lfs diff=lfs merge=lfs -text
main_gui.py filter=lfs diff=lfs merge=lfs -text
main_path.py filter=lfs diff=lfs merge=lfs -text
mav.tlog filter=lfs diff=lfs merge=lfs -text
Original.ipynb filter=lfs diff=lfs merge=lfs -text
yolo_data filter=lfs diff=lfs merge=lfs -text
map.html filter=lfs diff=lfs merge=lfs -text
mav.parm filter=lfs diff=lfs merge=lfs -text
mav.tlog.raw filter=lfs diff=lfs merge=lfs -text
Original_.ipynb filter=lfs diff=lfs merge=lfs -text
path_planning_pruned.py filter=lfs diff=lfs merge=lfs -text
trt_ssdlite filter=lfs diff=lfs merge=lfs -text
trt_trial filter=lfs diff=lfs merge=lfs -text
trt_ssdlite/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
trt_trial/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
utils/np_box_mask_list_test.py filter=lfs diff=lfs merge=lfs -text
utils/per_image_vrd_evaluation.py filter=lfs diff=lfs merge=lfs -text
utils/per_image_evaluation_test.py filter=lfs diff=lfs merge=lfs -text
utils/test_utils_test.py filter=lfs diff=lfs merge=lfs -text
utils/visualization_utils.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_mask_list.py filter=lfs diff=lfs merge=lfs -text
utils/per_image_evaluation.py filter=lfs diff=lfs merge=lfs -text
utils/spatial_transform_ops.py filter=lfs diff=lfs merge=lfs -text
utils/static_shape_test.py filter=lfs diff=lfs merge=lfs -text
utils/vrd_evaluation.py filter=lfs diff=lfs merge=lfs -text
utils/category_util_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_list_ops.py filter=lfs diff=lfs merge=lfs -text
utils/per_image_vrd_evaluation_test.py filter=lfs diff=lfs merge=lfs -text
utils/dataset_util.py filter=lfs diff=lfs merge=lfs -text
utils/object_detection_evaluation_test.py filter=lfs diff=lfs merge=lfs -text
utils/spatial_transform_ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/context_manager.py filter=lfs diff=lfs merge=lfs -text
utils/metrics.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_mask_ops.py filter=lfs diff=lfs merge=lfs -text
utils/shape_utils.py filter=lfs diff=lfs merge=lfs -text
utils/visualization_utils_test.py filter=lfs diff=lfs merge=lfs -text
utils/config_util.py filter=lfs diff=lfs merge=lfs -text
utils/dataset_util_test.py filter=lfs diff=lfs merge=lfs -text
utils/test_utils.py filter=lfs diff=lfs merge=lfs -text
utils/label_map_util_test.py filter=lfs diff=lfs merge=lfs -text
utils/shape_utils_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_list_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_mask_list_ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/object_detection_evaluation.py filter=lfs diff=lfs merge=lfs -text
utils/json_utils.py filter=lfs diff=lfs merge=lfs -text
utils/label_map_util.py filter=lfs diff=lfs merge=lfs -text
utils/metrics_test.py filter=lfs diff=lfs merge=lfs -text
utils/model_util_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_list.py filter=lfs diff=lfs merge=lfs -text
utils/ops.py filter=lfs diff=lfs merge=lfs -text
utils/test_case.py filter=lfs diff=lfs merge=lfs -text
utils/vrd_evaluation_test.py filter=lfs diff=lfs merge=lfs -text
utils/__init__.py filter=lfs diff=lfs merge=lfs -text
utils/json_utils_test.py filter=lfs diff=lfs merge=lfs -text
utils/learning_schedules.py filter=lfs diff=lfs merge=lfs -text
utils/category_util.py filter=lfs diff=lfs merge=lfs -text
utils/config_util_test.py filter=lfs diff=lfs merge=lfs -text
utils/variables_helper_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_list_ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/__pycache__ filter=lfs diff=lfs merge=lfs -text
utils/context_manager_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_mask_list_ops.py filter=lfs diff=lfs merge=lfs -text
utils/variables_helper.py filter=lfs diff=lfs merge=lfs -text
utils/np_mask_ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/np_box_ops.py filter=lfs diff=lfs merge=lfs -text
utils/ops_test.py filter=lfs diff=lfs merge=lfs -text
utils/static_shape.py filter=lfs diff=lfs merge=lfs -text
utils/learning_schedules_test.py filter=lfs diff=lfs merge=lfs -text
utils/model_util.py filter=lfs diff=lfs merge=lfs -text
utils/autoaugment_utils.py filter=lfs diff=lfs merge=lfs -text
yolo_data/checkpoint filter=lfs diff=lfs merge=lfs -text
yolo_data/coco.names filter=lfs diff=lfs merge=lfs -text
yolo_data/voc2012.names filter=lfs diff=lfs merge=lfs -text
yolo_data/yolov3-tiny.weights filter=lfs diff=lfs merge=lfs -text
yolo_data/yolov3.weights filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/utils.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/batch_norm.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/dataset.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/__init__.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/models.py filter=lfs diff=lfs merge=lfs -text
yolov3_tf2/__pycache__ filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.data-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.data-00001-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3.tf.index filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.data-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.data-00001-of-00002 filter=lfs diff=lfs merge=lfs -text
checkpoints/yolov3-tiny.tf.index filter=lfs diff=lfs merge=lfs -text
checkpoints/checkpoint filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v2_oid_v4_2018_12_12 filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
protos filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_2017_11_17 filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_11_06_2017 filter=lfs diff=lfs merge=lfs -text
core filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
ssdlite_mobilenet_v2_coco_2018_05_09 filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03 filter=lfs diff=lfs merge=lfs -text
core/matcher.py filter=lfs diff=lfs merge=lfs -text
core/multiclass_nms_test.py filter=lfs diff=lfs merge=lfs -text
core/region_similarity_calculator.py filter=lfs diff=lfs merge=lfs -text
core/region_similarity_calculator_test.py filter=lfs diff=lfs merge=lfs -text
core/box_list.py filter=lfs diff=lfs merge=lfs -text
core/freezable_batch_norm.py filter=lfs diff=lfs merge=lfs -text
core/keypoint_ops_test.py filter=lfs diff=lfs merge=lfs -text
core/losses_test.py filter=lfs diff=lfs merge=lfs -text
core/preprocessor_test.py filter=lfs diff=lfs merge=lfs -text
core/batcher.py filter=lfs diff=lfs merge=lfs -text
core/box_list_test.py filter=lfs diff=lfs merge=lfs -text
core/balanced_positive_negative_sampler_test.py filter=lfs diff=lfs merge=lfs -text
core/batch_multiclass_nms_test.py filter=lfs diff=lfs merge=lfs -text
core/box_coder_test.py filter=lfs diff=lfs merge=lfs -text
core/prefetcher_test.py filter=lfs diff=lfs merge=lfs -text
core/target_assigner.py filter=lfs diff=lfs merge=lfs -text
core/anchor_generator.py filter=lfs diff=lfs merge=lfs -text
core/balanced_positive_negative_sampler.py filter=lfs diff=lfs merge=lfs -text
core/post_processing.py filter=lfs diff=lfs merge=lfs -text
core/box_coder.py filter=lfs diff=lfs merge=lfs -text
core/keypoint_ops.py filter=lfs diff=lfs merge=lfs -text
core/box_list_ops_test.py filter=lfs diff=lfs merge=lfs -text
core/data_decoder.py filter=lfs diff=lfs merge=lfs -text
core/standard_fields.py filter=lfs diff=lfs merge=lfs -text
core/__init__.py filter=lfs diff=lfs merge=lfs -text
core/preprocessor.py filter=lfs diff=lfs merge=lfs -text
core/box_predictor.py filter=lfs diff=lfs merge=lfs -text
core/class_agnostic_nms_test.py filter=lfs diff=lfs merge=lfs -text
core/data_parser.py filter=lfs diff=lfs merge=lfs -text
core/freezable_batch_norm_test.py filter=lfs diff=lfs merge=lfs -text
core/minibatch_sampler_test.py filter=lfs diff=lfs merge=lfs -text
core/prefetcher.py filter=lfs diff=lfs merge=lfs -text
core/batcher_test.py filter=lfs diff=lfs merge=lfs -text
core/box_list_ops.py filter=lfs diff=lfs merge=lfs -text
core/minibatch_sampler.py filter=lfs diff=lfs merge=lfs -text
core/model.py filter=lfs diff=lfs merge=lfs -text
core/preprocessor_cache.py filter=lfs diff=lfs merge=lfs -text
core/__pycache__ filter=lfs diff=lfs merge=lfs -text
core/target_assigner_test.py filter=lfs diff=lfs merge=lfs -text
core/losses.py filter=lfs diff=lfs merge=lfs -text
core/matcher_test.py filter=lfs diff=lfs merge=lfs -text
data/kitti_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_bbox_trainable_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_object_detection_challenge_500_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/pascal_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/pet_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/ava_label_map_v2.1.pbtxt filter=lfs diff=lfs merge=lfs -text
data/face_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/fgvc_2854_classes_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/oid_v4_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_complete_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_label_map.pbtxt filter=lfs diff=lfs merge=lfs -text
data/mscoco_minival_ids.txt filter=lfs diff=lfs merge=lfs -text
protos/matcher_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/multiscale_anchor_generator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/multiscale_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/calibration_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/graph_rewriter_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/flexible_grid_anchor_generator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/graph_rewriter.proto filter=lfs diff=lfs merge=lfs -text
protos/input_reader_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/keypoint_box_coder_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/string_int_label_map_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/bipartite_matcher_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/box_coder_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/input_reader.proto filter=lfs diff=lfs merge=lfs -text
protos/string_int_label_map.proto filter=lfs diff=lfs merge=lfs -text
protos/box_predictor.proto filter=lfs diff=lfs merge=lfs -text
protos/calibration.proto filter=lfs diff=lfs merge=lfs -text
protos/optimizer_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/optimizer.proto filter=lfs diff=lfs merge=lfs -text
protos/train.proto filter=lfs diff=lfs merge=lfs -text
protos/hyperparams_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/losses.proto filter=lfs diff=lfs merge=lfs -text
protos/__pycache__ filter=lfs diff=lfs merge=lfs -text
protos/region_similarity_calculator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/train_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/mean_stddev_box_coder_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/preprocessor.proto filter=lfs diff=lfs merge=lfs -text
protos/image_resizer_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/preprocessor_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/post_processing.proto filter=lfs diff=lfs merge=lfs -text
protos/region_similarity_calculator.proto filter=lfs diff=lfs merge=lfs -text
protos/square_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn.proto filter=lfs diff=lfs merge=lfs -text
protos/losses_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/square_box_coder_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/mean_stddev_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/pipeline_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/model.proto filter=lfs diff=lfs merge=lfs -text
protos/pipeline.proto filter=lfs diff=lfs merge=lfs -text
protos/box_predictor_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/grid_anchor_generator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/keypoint_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/argmax_matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/eval_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/eval.proto filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn_box_coder_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/argmax_matcher_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/bipartite_matcher.proto filter=lfs diff=lfs merge=lfs -text
protos/hyperparams.proto filter=lfs diff=lfs merge=lfs -text
protos/image_resizer.proto filter=lfs diff=lfs merge=lfs -text
protos/__init__.py filter=lfs diff=lfs merge=lfs -text
protos/ssd_anchor_generator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/grid_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/anchor_generator_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/model_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/post_processing_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/ssd_pb2.py filter=lfs diff=lfs merge=lfs -text
protos/faster_rcnn_box_coder.proto filter=lfs diff=lfs merge=lfs -text
protos/flexible_grid_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/ssd_anchor_generator.proto filter=lfs diff=lfs merge=lfs -text
protos/ssd.proto filter=lfs diff=lfs merge=lfs -text
__pycache__/detection_functions.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/gazebo_camera.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/mavsdk_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/path_planning.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/sitl_mavsdk_mission.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/cv_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/myutils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/path_planning_pruned.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
__pycache__/planning_utils.cpython-36.pyc filter=lfs diff=lfs merge=lfs -text
ssdlite_mobilenet_v2_coco_2018_05_09/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_0.75_depth_300x300_coco14_sync_2018_07_03/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_11_06_2017/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v1_coco_2017_11_17/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
ssd_mobilenet_v2_oid_v4_2018_12_12/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
